/* there's a bug in this place.. finish the app then redo the styling */
.app{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  color: white;
  height: 100vh;
  background: #000000;
  text-align: center;
}